@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

.page-header {
    height: 30vh;
    background-color: whitesmoke;
    background: center 75% / cover no-repeat;
}
h1,h2,h3 {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}
h1 {
    font-size: 3rem;
    margin: 0;
}
h2 {
    font-size: xx-large;
}
h3 {
    font-size: large;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.vertical-center {
    position: relative;
    top: 30%;
}

strong {
    font-size: 1.3rem;
}

.text-white {
    color: #FFFFFF;
}

.green-background {
    background-color: #549E39;
}

#home {
    background-image: url(../images/banner.jpg);
}

#countries {
    padding: 1rem 0;
    margin-bottom: 80px;
    background-image: url(../images/sani_pass.jpg) center center / cover no-repeat fixed;
}

#northern-europe {
    background-color: turquoise;
    position: relative;
    left: 70px;
    top: -15px;
}

#southern-africa {
    background-color: #6f4e37;
    position: relative;
    right: 70px;
    top: -15px;
}
.countries-box {
    width: 33%;
    margin: 1rem 0;
    display: inline-block;
}
li {
    list-style-type: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}