@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#menu {
    width: 100%;
    height: 65px;
    line-height: 65px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747,#012733);
}
.logo{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}
#menu ul{
   float: right; 
}
#menu li{
    display: inline-block;
    list-style: none;
}
#menu li a{
    font-size: 18px;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
#menu li a:hover{
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}
/* style the hero-image */
#place-hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text #cover-text h2{
    color:#FFFFFF;
}
/* create zoom level for hero image */
#hero-img {
    height: 600px;
    width: 100%;
    background: url('../images/sani_pass.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;  
}

@keyframes hero-zoom{
    from{transform: scale(1);
    }
    to{transform: scale(1.2);
    }
}
cover-text{
   font-size: 130%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 4px;
   width: 300px;
   height: 200px;
   padding-top: 40px;
   padding-left: 10px;
   background-color: rgba(255,140,105,.7);
   /* text placement within image container */
   bottom: 30px;
   right: 150px;
   position: absolute;

}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}
h1,
h2,
h3 {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
    letter-spacing: 4px;
}
h1 {
    font-size: 3rem;
    margin: 10px;
}
h2 {
    font-size: xx-large;
    margin: 10px;
}
h3 {
    font-size: large;
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.vertical-center {
    position: relative;
    top: 30%;
}

strong {
    font-size: 1.3rem;
}

.text-white {
    color: #FFFFFF;
}

#countries {
    padding: 1rem 0;
    margin-bottom: 80px;
    background-color: #549E39;
    width: cover;
}

#northern-europe {
    background-color: turquoise;
    position: relative;
    left: 70px;
    top: -15px;
}

#southern-africa {
    background-color: #6f4e37;
    position: relative;
    right: 70px;
    top: -15px;
}
.countries-box {
    width: 33%;
    margin: 1rem 0;
    display: inline-block;
}
li {
    list-style-type: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
nav {
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0px 20px 20px 20px;
    padding-bottom: 20px;
}